<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <ul>
    <li><a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>  </li>
    <li><a class="nav-link" routerLink="profile" routerLinkActive="active">Profile</a>  </li>
    <li style="float:right" > <a class="nav-link"  style="float:right" routerLink="login" routerLinkActive="active">Login</a> </li>
    <li style="float:right" > <a class ="nav-link" (click)="logout()" href="#">Logout</a></li>
  </ul>
  <div class="text-center">
    <p>
      Angular 6 Authentication with JWT Tutorial
    </p>
  </div>
  <router-outlet></router-outlet>
