
<!-- =================================================== -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    &nbsp;&nbsp;	&nbsp;	<h1> MIU FaceBook</h1>
    <span class="menu-spacer"></span>


  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <!-- condition if not user signed in -->
      <a *ngIf="!this.authService.isLoggedIn" mat-list-item routerLink="sign-up">
        <div class="iconNavSide"><i style="color:darkred;" class="fa fa-list"></i></div> Sign Up
      </a>
        <!-- codition if not signined user -->
      <a *ngIf="!this.authService.isLoggedIn" mat-list-item routerLink="log-in">
        <div class="iconNavSide"><i style="color:darkred;" class="fa fa-list"></i></div> Sign In
      </a>

      <mat-divider></mat-divider>

      <!-- ================== if user signed in -->
      <a *ngIf="this.authService.isLoggedIn" >
        <!-- <div class="iconNavSide"><i style="color:darkred;" class="fa fa-list"></i></div> -->
      </a>
      <button (click)="logout()" *ngIf="this.authService.isLoggedIn" type="button" class="">Logout</button>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <div style="height: 88vh;">
      <router-outlet>
      </router-outlet>

    </div>
  </mat-sidenav-content>
  <!-- ======================== -->

</mat-sidenav-container>
