.form-group{
  width: 200px;
  display: inline-block;
  margin-left: 5px;
}





.full-width-table {
  width: 100%;
}

.full-width-table {
  width: 100%;
}

.search-div{
  margin-left: 1rem;
}

.search-form-field{
  margin: 10px;
}


.container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}

.btSpace{
  margin: 0.5rem;
}

.hide{
  display: none;
}

.mat-footer-row .mat-footer-cell{
  justify-content: center;
  font-style: italic;
}

.mat-elevation-z8{
  margin-left: 1rem;
  margin-right: 1rem;
}

