<!-- ============================= -->
<div class="mat-elevation-z8">

  <form [formGroup]="signupForm" class="normal-form">
    <mat-grid-list cols="1" rowHeight="200px">
      <mat-grid-tile>

        <div class="controles-container">
          <input type="hidden" formControlName="userId" />

          <mat-form-field class="inputSpace">
            <input formControlName="name" matInput placeholder="name*" />
            <mat-error>Name is required</mat-error>
          </mat-form-field>

          <!-- <mat-form-field class="inputSpace">
            <input formControlName="lastName" matInput placeholder="Last Name" />
            <mat-error>Last Name is required</mat-error>
          </mat-form-field> -->

        </div>
        <div class="controles-container">

          <mat-form-field class="inputSpace">
            <input formControlName="email" matInput placeholder="email*" />
            <mat-error>Email is required</mat-error>

          </mat-form-field>

          <mat-form-field class="inputSpace">
            <input formControlName="password" matInput placeholder="Password*" />
            <mat-error>Password is required</mat-error>
          </mat-form-field>

        </div>

      </mat-grid-tile>
    </mat-grid-list>

    <div class="button-row">
      <button mat-raised-button color="primary" type="submit" [disabled]="!signupForm.valid"
        (click)="registerUser()">Save</button>
      <!-- <button mat-raised-button color="warn" (click)="onClear()">Clear</button> -->
    </div>

  </form>
</div>
